.home {
  position: relative;
  height: 100vh;
  text-align: center;
  background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url("../images/heart.e63400ec6e1b.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
}

.home-text {
  position: absolute;
  color:#fff;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);

}



.image-container {
  position:relative;
}

.image {
  position: relative;
}

.image-overlay {
  display:none;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index:10

}
.overlay-content {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

.fa-copy {
  font-size: 2.8rem;
  cursor: pointer;
}

.fa-copy:hover {
  text-shadow: 0 0 10px rgb(87, 87, 87);
}